* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}


/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    z-index: 100;
}

input::-ms-clear {
    display: none;
}

button,
input[type=submit] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

body {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    row-gap: 50px;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header {
    z-index: 100;
    color: #fff;
}

.start {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    z-index: 100;
}

button {
    width: 70px;
    height: 70px;
    border: 1px solid white;
}

.main {
    position: relative;
    display: grid;
    grid-template-columns: 70px 70px 70px;
    gap: 50px;
    z-index: 10;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.restart {
    display: grid;
    justify-content: center;
    align-items: center;
}

.visually-hidden {
    display: none;
}